<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
        <link rel="stylesheet" href="../css/main.css"/>
        <link rel="stylesheet" href="../css/register.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="">Sobre nosotros</a></li>
                <li><a href="">FAQ</a></li>
            </ul>
        </nav>
        <header>
        <section>
            <div class="register-container">
                <h3>Formulario de registro</h3>
                <br/>
                <form class="register-form">
                    <label for="username-input">Username</label>
                    <input type="text" id="username-input" required max="50">

                    <label for="password-input">Password</label>
                    <input type="password" id="password-input" required max="50">

                    <input type="submit" value="Registro"/>
                </form>
            </div>
        </section>

    </body>
</html>
